<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html";charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <!-- Required signature-pad -->
    <link rel="stylesheet" href="css/signature-pad.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    
    <title>CheckList Mantenimiento</title>
</head>
<body>
    
    <div id="app-2">
        
        <h1>
            {{titulo}}
        </h1>
        
        <button class="btn btn-warning col-md-12" type="button" data-toggle="collapse" data-target="#registro" aria-expanded="false" aria-controls="registro">
            Registro
        </button>
        <div class="collapse" id="registro">
            <div class="container">
                <div class="row">
                    
                    <div class="form-row col-md-12">
                        <div class="form-group col-md-2">
                            <label >Fecha</label>
                            <input type="date" name="bday" max="3000-12-31" 
                            min="1000-01-01" class="form-control">
                        </div>
                        
                        <div class="form-group col-md-2">
                            <label for="inputHora">Hora</label>
                            <input type="text" class="form-control" id="hora" placeholder="hh:mm">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputOperario">Operario</label>
                            <input type="text" class="form-control" id="inputOperario" placeholder="Operario">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="FormControlSelectSala">Sala</label>
                            <select class="form-control" id="eFormControlSelectSala">
                                <option>Quirofano 1</option>
                                <option>Quirofano 2</option>
                                <option>Reanimación</option>
                                <option>Colonoscopias 1</option>
                                <option>Colonoscopias 2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p></p>

        <button class="btn btn-primary col-md-12" type="button" data-toggle="collapse" data-target="#item1" aria-expanded="false" aria-controls="collapseItem1">
            Revisión visual y comprobación de las salas interiores
        </button>
        <div class="collapse" id="item1">
            <table class="table table-bordered">
                <tbody>
                    <tr v-for="pregunta of items1">
                        <td role="alert" :class="['alert', pregunta.valor==0 ? 'alert-light' : pregunta.valor==1 ? 'alert-success' : 'alert-danger']">
                            {{pregunta.item}}
                            <div class="collapse" :id="pregunta.id">
                                <input type="text" class="form-control" v-model="pregunta.error" placeholder="Sin Problema">
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm fa fa-check" data-toggle="collapse" :data-target="'#'+pregunta.id" aria-expanded="false" @click="pregunta.valor=1; pregunta.error=''; fondo='alert-success'">
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm fa fa-times" data-toggle="collapse" :data-target="'#'+pregunta.id" aria-expanded="false" @click="pregunta.valor=2; fondo='alert-danger'">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p></p>

        <button class="btn btn-primary col-md-12" type="button" data-toggle="collapse" data-target="#item2" aria-expanded="false" aria-controls="collapseItem2">
            Revisión visual y comprobación de instalaciones, apartos de pasillos, salas de zona limpia y sucia
        </button>
        <div class="collapse" id="item2">
            <table class="table table-bordered">
                <tbody>
                    <tr v-for="pregunta of items2">
                        <td role="alert" :class="['alert', pregunta.valor==0 ? 'alert-light' : pregunta.valor==1 ? 'alert-success' : 'alert-danger']">
                            {{pregunta.item}}
                            <div class="collapse" :id="pregunta.id">
                                <input type="text" class="form-control" v-model="pregunta.error" placeholder="Sin Problema">
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm fa fa-check" data-toggle="collapse" :data-target="'#'+pregunta.id" aria-expanded="false" @click="pregunta.valor=1; pregunta.error=''; fondo='alert-success'">
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm fa fa-times" data-toggle="collapse" :data-target="'#'+pregunta.id" aria-expanded="false" @click="pregunta.valor=2; fondo='alert-danger'">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p></p>
        <button class="btn btn-primary col-md-12" type="button" data-toggle="collapse" data-target="#resultado" aria-expanded="false" aria-controls="collapseItem2">
            Resultado
        </button>
        <div class="collapse" id="resultado">
            <ul>
                <li v-for="pregunta of items1">
                    {{pregunta.id}} - {{pregunta.item}} - {{pregunta.valor}} - {{pregunta.error}}
                    <p></p>
                </li>
            </ul>
        </div>
    </div>
    <p></p>

    <button class="btn btn-dark col-md-12" type="button" data-toggle="collapse" data-target="#signature-pad" aria-expanded="false" aria-controls="signature-pad">
        FIRMA
    </button>

    <!-- signature-pad -->
    <div id="signature-pad" class="signature-pad">
        <div class="signature-pad--body">
            <canvas></canvas>
        </div>
        <div class="signature-pad--footer">
            <div class="description">
                Firmar aquí
            </div>
                
            <div class="signature-pad--actions">
                <div>
                    <button type="button" class="button clear" data-action="clear">Borrar</button>
                    <button type="button" class="button" data-action="undo">Undo</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="resultado-fuera">
        
    </div>
    <script src="js/signature_pad.js"></script>
    <script src="js/app-pad.js"></script>
    
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
    
</body>
</html>
